/*------------------------------------------------------------------
[Table of contents]

1. Body
	2. Wrapper / .wrapper
		2.1. Header / #header
		2.2. Main / #main
			2.2.1. Article / #content
			2.2.2. Image / .laptop .hidden-xs
				2.2.2.1. Glitch animation / .glitch
			2.2.3. Image xs / .laptop .visible-xs
	3. Footer / #footer
		3.1. Search / .search
		3.2. Social / .social			
	
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

1. White (footer, h1, button color): #ffffff
2. Light grey (logo, search, social): #a5b1c0
3. Blue (button): #003399
4. Rich blue (wrapper): #5353ba
5. Violet (text): #a2a2fe
-------------------------------------------------------------------*/

/* --- GLOBAL styles --- */
body {
	min-width: 340px;
	overflow-x: hidden;
}

.wrapper {
	background:#5353ba;
}


/* --- HEADER styles --- */
#header {
	padding: 60px 15px 0;
}

#header img {
	margin-right: 10px;
	vertical-align: top;
}

#header a {
	color: #a5b1c0;
	font: 100 32px/34px 'Poppins', sans-serif;
	text-transform: uppercase;
}

#header a:hover,
#header a:active,
#header a:focus {
	color: #fff;
	text-decoration: none;
	transition: all 300ms ease-in-out;
}


/* --- MAIN styles --- */
#main {
	padding: 20px 0;
}

/* content styles */
#content {
	padding: 0 25px;
	z-index: 2;
}

#content h1 {
	color: #fff;
	font: 700 52px/48px 'Poppins', sans-serif;
	margin: 36px 0;
	text-shadow: 0px 1px 6px #333;
	text-transform: uppercase;
}

#content p {
	color: #a2a2fe;
	font: 700 14px/18px 'Poppins', sans-serif;
	text-transform: uppercase;
}

#content .btn {
	background: #003399;
	border: 2px solid transparent;
	border-radius: 40px;
	color: #fff;
	font: 700 18px 'Poppins', sans-serif;
	margin: 30px 0;
	padding: 18px 48px 16px;
	text-transform: uppercase;
}

#content .btn:hover, 
#content .btn:active,
#content .btn:focus {
	background: #5353ba;
	border: 2px solid #fff;
	color: #fff;
}

/* laptop styles */
.laptop {
	margin-top: 40px;
	z-index: 1;
}

.laptop img {
	position: absolute;
	right: 0;
}

/* glitch styles */
.glitch {
	color: #fff;
	font-family: Poppins, sans-serif;
	font-size: 120px;
	font-weight: 600;
	left: 300px;
	position: absolute;
	top: 110px;
	z-index: 3;
}

@keyframes noise-anim {
  	0% {clip: rect(53px, 999px, 113px, 0);}
  	5% {clip: rect(28px, 999px, 114px, 0);}
  	10% {clip: rect(55px, 999px, 37px, 0);}
  	15% {clip: rect(77px, 999px, 80px, 0);}
  	20% {clip: rect(79px, 999px, 120px, 0);}
  	25% {clip: rect(44px, 999px, 24px, 0);}
  	30% {clip: rect(43px, 999px, 18px, 0);}
 	35% {clip: rect(48px, 999px, 32px, 0);}
  	40% {clip: rect(22px, 999px, 82px, 0);}
  	45% {clip: rect(100px, 999px, 120px, 0);}
  	50% {clip: rect(75px, 999px, 115px, 0);}
  	55% {clip: rect(24px, 999px, 50px, 0);}
  	60% {clip: rect(75px, 999px, 55px, 0);}
  	65% {clip: rect(50px, 999px, 105px, 0);}
  	70% {clip: rect(7px, 999px, 9px, 0);}
  	75% {clip: rect(63px, 999px, 64px, 0);}
  	80% {clip: rect(50px, 999px, 106px, 0);}
  	85% {clip: rect(60px, 999px, 60px, 0);}
  	90% {clip: rect(94px, 999px, 40px, 0);}
 	95% {clip: rect(82px, 999px, 120px, 0);}
  	100% {clip: rect(30px, 999px, 119px, 0);}
}

.glitch:after {
  	animation: noise-anim 2s infinite linear alternate-reverse;
  	content: '404';
  	left: 2px;
  	overflow: hidden;
  	position: absolute;
  	text-shadow: -2px 0 #474747;
}

@keyframes noise-anim-2 {
  	0% {clip: rect(24px, 0, 107px, 999px);}
  	5% {clip: rect(39px, 0, 120px, 999px);}
  	10% {clip: rect(19px, 0, 43px, 999px);}
  	15% {clip: rect(43px, 0, 100px, 999px);}
  	20% {clip: rect(75px, 0, 61px, 999px);}
  	25% {clip: rect(86px, 0, 56px, 999px);}
  	30% {clip: rect(80px, 0, 108px, 999px);}
  	35% {clip: rect(5px, 0, 80px, 999px);}
  	40% {clip: rect(31px, 0, 43px, 999px);}
  	45% {clip: rect(23px, 0, 54px, 999px);}
  	50% {clip: rect(89px, 0, 113px, 999px);}
  	55% {clip: rect(48px, 0, 63px, 999px);}
  	60% {clip: rect(89px, 0, 120px, 999px);}
  	65% {clip: rect(51px, 0, 62px, 999px);}
  	70% {clip: rect(73px, 0, 120px, 999px);}
  	75% {clip: rect(37px, 0, 100px, 999px);}
  	80% {clip: rect(34px, 0, 110px, 999px);}
  	85% {clip: rect(41px, 0, 102px, 999px);}
  	90% {clip: rect(68px, 0, 115px, 999px);}
  	95% {clip: rect(41px, 0, 41px, 999px);}
  	100% {clip: rect(37px, 0, 101px, 999px);}
}

.glitch:before {
	animation: noise-anim-2 3s infinite linear alternate-reverse;
	content: '404';
	left: -1px;
	overflow: hidden;
  	position: absolute;
  	text-shadow: 2px 0 #636363;
}


/* --- FOOTER styles --- */
#footer {
	margin: 170px 0 70px;
	position: relative;
	z-index: 1;
}

/* search styles */
.form-group {
    margin-bottom: 20px;
}

.search .form-control {
	border: 1px solid #a5b1c0;
	border-radius: 30px;
	font: 700 18px 'Poppins', sans-serif;
	height: 45px;
	padding: 14px 26px 12px;
	text-transform: uppercase;
}

.search .form-control:hover, 
.search .form-control:active, 
.search .form-control:focus {
	border: 2px solid #8686da;
	box-shadow: none;
	padding: 13px 25px 10px;
}

.search .form-control::-moz-placeholder {
	color: #a5b1c0;
	opacity: 1;
}

.search .form-control:-ms-input-placeholder {
	color: #a5b1c0;
}

.search .form-control::-webkit-input-placeholder {
	color: #a5b1c0;
}

.search .form-control:hover, 
.search .form-control:active,
.search .form-control:focus  {
	color: #000;
}

/* social styles */
.social {
	color: #a5b1c0;
	font: 700 18px/24px 'Poppins', sans-serif;
}

.social li {
	display: inline;
}

.social li:first-child {
	padding-right: 15px;
}

.social li i {
	border: 1px solid #a5b1c0;
	border-radius: 30px;
	color: #a5b1c0;
	font-size: 16px;
	margin: 0 15px;
	padding: 14px;
	text-align: center;
	width: 47px;
}

.social li i:hover {
	background: #003399;
	border: none;
	color: #ffffff;
	transition: all 300ms ease-in-out;
}


/* --- ADAPTIVE styles ---*/
@media (min-width: 0px) and (max-width: 767px) {
	#header, 
	#main {
		text-align: center;
	}
	
	.laptop img {
		background: -moz-linear-gradient(#5353ba 77%, #ffffff 23%);
		background: -webkit-linear-gradient(#5353ba 77%, #ffffff 23%);
		background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.77, #5353ba), color-stop(0.23, #ffffff));
		background: -o-linear-gradient(#5353ba 77%, #ffffff 23%);
		background: linear-gradient(#5353ba 77%, #ffffff 23%);
		max-width: 120%;
		padding-right: 4%;
	}
	
	.search,
	.social {
		float: none !important;
		text-align: center;
	}
	
	.search {
		margin: 8% 5% 0;
	}
	
	.social {
		margin-top: 60px;
	}
	
	.social ul {
		padding: 0;
	}
	
	.social li i {
		margin: 0 5px;
	}
	
	#footer {
		margin: 65% 0 70px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.wrapper {
		height:870px;
	}
	
	#header, 
	#main {
		text-align: center;
	}
	
	.glitch {
		left: 270px;
		top: 110px;
	}
	
	.search, 
	.social {
		float: none !important;
		text-align: center;
	}
	
	.search {
		margin: 0 20%;
	}
	
	.social {
		margin-top: 60px;
	}
	
	.social ul {
		padding: 0;
	}
	#footer {
		margin: 130px 0 70px;
		position: relative;
		z-index: 1;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.laptop {
   		margin-top: 110px;
	}
	
	.laptop img {
		max-width: 125%;
	}
	
	.glitch {
		left: 220px;
		top: 90px;
	}
}